/* NavStyles.css */
.nav {
  position: fixed;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  z-index: 50;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.navIcons {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: 72px;
  backdrop-filter: blur(2px);
  border-radius: 999px;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  color: rgba(255, 255, 255, 0.9);
}

.link {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  color: #ffffff;
  padding: 5px;
  border-radius: 100%;
  background: linear-gradient(
    92.23deg,
    #011b76 21.43%,
    #0bacf6 50.63%,
    #d184ef 100%,
    #f9acf5 117.04%
  );
}

.active:hover {
  background: linear-gradient(
    92.23deg,
    #f9acf5 21.43%,
    #d184ef 50.63%,
    #0bacf6 100%,
    #011b76 117.04%
  );
}

.iconHover:hover {
  font-size: 3rem;
}

.footer {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.impressum {
  padding-left: 30px;
}

.luxelevare {
  padding-right: 20px;
  font-size: 0.6rem;
}

.lux-email {
  cursor: pointer;
}
