#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 55px;
}

.mySwiper {
  margin-top: 50px;
  position: relative;
}

.mySwiper button {
  display: block; /* Macht den Button sichtbar */
  position: absolute; /* Setzt den Button auf absolute Position innerhalb des Containers */
  bottom: 10px; /* Stellt die vertikale Position des Buttons ein */
  left: 10px; /* Stellt die horizontale Position des Buttons ein */
  background: linear-gradient(
    92.23deg,
    #011b76 21.43%,
    #011b76 50.63%,
    #0bacf6 100%,
    #0bacf6 117.04%
  ); /*Hintergrundfarbe des Buttons */
  color: #1cef09; /* Textfarbe des Buttons */
  padding: 10px 20px; /* Innenabstand des Buttons */
  border: 1px solid black; /* Entfernt den Rand des Buttons */
  border-top-right-radius: 0; /* Oberer rechter Rand kein Radius */
  border-bottom-right-radius: 0; /* Unterer rechter Rand kein Radius */
  border-radius: 10px;
  cursor: pointer; /* Zeigt den Mauszeiger als Zeiger an */
  text-decoration: none; /* Entfernt die unterstrichene Textdekoration (optional) */
}

.mySwiper button:hover {
  background: rgb(5, 203, 5);
  color: #011b76;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
